.nav-Top{
    background: #3FBBC0;
    color: #FFFFFF;
    display: flex;
    direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 0px 100px;
    font-size: 18px;

    
}
.nav-Top h5{
    padding: 0;
    margin: 10px;
}
.clocksvg{
    color: #FFFFFF;
}

.nav-logo{
    width: 150px;
    padding-top:10px ;
}

.logo{
    flex: 1;

}
.nav-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: column;
    padding: 5px 0px;
}

.nav-menubar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style-type: none;
    /* border: 1px solid #3FBBC0; */
    flex: 2;
}

.nav-bottom ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style-type: none;
    /* border: 1px solid #3FBBC0; */
  
}

.nav-bottom ul li{
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 600;
    color: grey;
}

.nav-menu li:first-child{
color: #3FBBC0;
}

.nav-btn button{
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    background: #3FBBC0;
    border-radius:5px;
    color: #FFFFFF;
    /* border: 1px solid #3FBBC0; */

}